body {
    margin: 0;
    background: #373c41;
    text-align: center;
}
section {
    display: flex;
    justify-content: center;
}
#grid {
    border: solid rgba(80, 0, 0, 0.8) 5px;
    width: 500px;
    height: 500px;
    display: grid;
    background: white;
}
/* THIS is styling the grid. */
.box {
    border-bottom: solid rgba(80, 0, 0, 0.8) 2px;
    border-right: solid rgba(80, 0, 0, 0.8) 2px;
}
